@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --theme-one: #A7FF83;
  --theme-two: #17B978;
  --theme-three: #086972;
  --theme-four: #071A52;
  --alert: #720808;
  font-size: 14px;
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.window {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--theme-one);
}

.wrapper {
  width: 54rem;
}

.menu {
  background-color: var(--theme-two);
  border-radius: 1rem;
  padding: 1rem;
}

.menu__top {
  position: relative;
}

.menu__top .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.2rem;
}

.menu__top .line:first-child {
  margin-bottom: 1rem;
}

.menu__top input {
  width: 60%;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--theme-one);
  padding-left: 1rem;
  color: var(--theme-three);
  font-weight: 700;
}

.menu__top input::-webkit-input-placeholder {
  font-weight: normal;
  color: var(--theme-three);
}

.menu__top input:-ms-input-placeholder {
  font-weight: normal;
  color: var(--theme-three);
}

.menu__top input::-ms-input-placeholder {
  font-weight: normal;
  color: var(--theme-three);
}

.menu__top input::placeholder {
  font-weight: normal;
  color: var(--theme-three);
}

.menu__top input:focus {
  outline: 0.2rem solid var(--theme-three);
  color: var(--theme-three);
}

.menu__top button {
  width: 25%;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__top button:hover {
  cursor: pointer;
}

.menu__top button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.menu__top button.add {
  border: none;
  background-color: var(--theme-three);
  color: var(--theme-two);
}

.menu__top button.edit {
  border: 0.2rem solid var(--theme-three);
  background-color: transparent;
  color: var(--theme-three);
}

.menu__top .alert {
  position: absolute;
  left: -14.5rem;
  height: 3.2rem;
  width: 12rem;
  border-radius: 1rem 0 0 1rem;
  line-height: 3.2rem;
  font-size: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  color: var(--theme-one);
  background-color: var(--theme-four);
}

.menu__top .alert::after {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  content: '';
  position: absolute;
  left: 100%;
  width: 3rem;
  height: 100%;
  background-color: var(--theme-four);
}

.menu__top .alert__validity {
  background-color: var(--alert);
}

.menu__top .alert__validity::after {
  background-color: var(--alert);
}

.menu__bottom {
  margin-top: 0.7rem;
}

.menu__bottom .playlist-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bottom .playlist-controls .volume-control {
  position: relative;
}

.menu__bottom .playlist-controls .volume-control #volume {
  cursor: -webkit-grab;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3.8rem;
  width: 12.8rem;
  border-radius: 1rem;
}

.menu__bottom .playlist-controls .volume-control #volume:active {
  cursor: -webkit-grabbing;
}

.menu__bottom .playlist-controls .volume-control #volume::-webkit-slider-thumb {
  pointer-events: none;
  visibility: hidden;
}

.menu__bottom .playlist-controls .volume-control__icon {
  position: absolute;
  left: 1rem;
  height: 100%;
  font-size: 2.8rem;
  padding: 0;
  margin: 0;
  pointer-events: none;
  color: var(--theme-four);
}

.menu__bottom .playlist-controls .volume-control__icon--mute {
  position: absolute;
  left: 1rem;
  height: 100%;
  font-size: 2.5rem;
  pointer-events: none;
  color: var(--theme-four);
}

.menu__bottom .playlist-controls .timing-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.menu__bottom .playlist-controls .timing-control .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3.8rem;
  height: 3.8rem;
  padding: 0.5rem;
  background-color: var(--theme-one);
  color: var(--theme-three);
  border-radius: 1rem;
}

.menu__bottom .playlist-controls .timing-control .icon__play-pause {
  padding: 0.8rem;
  width: 4.6rem;
  height: 4.6rem;
}

.menu__bottom .playlist-controls .timing-control .icon:hover {
  cursor: pointer;
}

.menu__bottom .playlist-controls .timing-control .icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.menu__bottom .playlist-controls .play-mode-control {
  width: 12.8rem;
  height: 3.8rem;
  border-radius: 1rem;
  background-color: var(--theme-three);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu__bottom .playlist-controls .play-mode-control__text-wrap {
  width: 9rem;
  text-align: center;
}

.menu__bottom .playlist-controls .play-mode-control__main {
  padding: 0;
  margin: 0.2rem 0 0 0;
  color: var(--theme-two);
}

.menu__bottom .playlist-controls .play-mode-control__second {
  padding: 0;
  margin: 0.3rem 0 0 0;
  font-size: 1.2rem;
  color: var(--theme-two);
  font-weight: 800;
}

.menu__bottom .playlist-controls .play-mode-control__button {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--theme-one);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bottom .playlist-controls .play-mode-control__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.menu__bottom .playlist-controls .play-mode-control__button .icon {
  padding: 0;
  margin: 0;
  font-size: 3rem;
  color: var(--theme-three);
}

.menu__bottom .playlist-display {
  margin-top: 1rem;
}

.menu__bottom .playlist-display .track-counter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--theme-one);
  width: 9rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.6rem 0 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 1rem 1rem 0 0;
  position: relative;
}

.menu__bottom .playlist-display .track-counter::before, .menu__bottom .playlist-display .track-counter::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
}

.menu__bottom .playlist-display .track-counter::before {
  background-color: var(--theme-one);
}

.menu__bottom .playlist-display .track-counter::after {
  border-radius: 0 0 0 1rem;
  background-color: var(--theme-two);
}

.menu__bottom .playlist-display .track-counter p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: var(--theme-four);
}

.menu__bottom .playlist-display .playlist {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--theme-one);
  border-radius: 0 1rem 1rem 1rem;
  padding: 1rem 0.5rem 1rem 1rem;
}

.menu__bottom .playlist-display .playlist__wrapper {
  height: calc(9rem * 3 + 0.6rem * 2);
  padding-right: 0.5rem;
  overflow-y: scroll;
}

.menu__bottom .playlist-display .playlist__wrapper::-webkit-scrollbar {
  width: 1.4rem;
}

.menu__bottom .playlist-display .playlist__wrapper::-webkit-scrollbar-button {
  display: none;
}

.menu__bottom .playlist-display .playlist__wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.7rem;
  background-color: var(--theme-three);
}

.menu__bottom .playlist-display .playlist__wrapper::-webkit-scrollbar-track {
  border-radius: 0.7rem;
  background-color: var(--theme-two);
}

.menu__bottom .playlist-display .playlist__wrapper .audio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--theme-two);
  border-radius: 1rem;
  height: 9rem;
}

.menu__bottom .playlist-display .playlist__wrapper .audio:not(:last-child) {
  margin-bottom: 0.6rem;
}

.menu__bottom .playlist-display .playlist__wrapper .audio:hover .pause-play {
  opacity: 1;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main {
  margin: 1rem 0 1rem 1rem;
  width: 38rem;
  border-radius: 1rem;
  overflow: hidden;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--theme-four);
  height: 50%;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  height: 50%;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration__timer {
  pointer-events: none;
  position: inherit;
  z-index: 1;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration__input:hover {
  cursor: pointer;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration__input::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 1rem 0.35rem var(--theme-three) inset;
          box-shadow: 0 0 1rem 0.35rem var(--theme-three) inset;
}

.menu__bottom .playlist-display .playlist__wrapper .audio__main--duration__input::-webkit-slider-thumb {
  pointer-events: none;
  visibility: hidden;
}

.menu__bottom .playlist-display .playlist__wrapper .audio .pause-play {
  opacity: 0;
  margin: 1rem 0;
  margin-right: 1rem;
  width: 7rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  color: var(--theme-two);
  background-color: var(--theme-three);
}

.menu__bottom .playlist-display .playlist__wrapper .audio .pause-play:hover {
  cursor: pointer;
  background-color: var(--theme-four);
}

.menu__bottom .playlist-display .playlist__wrapper .audio .editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 100%;
  font-size: 3rem;
  color: var(--theme-two);
  background-color: var(--theme-three);
}

.menu__bottom .playlist-display .playlist__wrapper .audio .editing__drag:hover, .menu__bottom .playlist-display .playlist__wrapper .audio .editing__drag:active {
  background-color: var(--theme-four);
}

.menu__bottom .playlist-display .playlist__wrapper .audio .editing__delete:hover {
  cursor: pointer;
  background-color: var(--alert);
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 4rem;
}

.side-menu__wrapper {
  position: relative;
  height: 100%;
}

.side-menu__layout {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4rem;
  height: 100%;
  background-color: var(--theme-two);
  padding: 1rem 0;
}

.side-menu__content {
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  right: -17rem;
  background: var(--theme-four);
  height: 100%;
  width: 17rem;
}

.side-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  font-size: 2.2rem;
  color: var(--theme-two);
  margin-bottom: 0.4rem;
  background-color: var(--theme-three);
  border: none;
}

.side-menu__button:hover {
  background-color: var(--theme-four);
  cursor: pointer;
}

.side-menu .theme-content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  border-top: 1rem solid var(--theme-two);
}

.side-menu .theme-content p {
  margin: 1rem 0 0.6rem 0;
  font-weight: 800;
  color: var(--theme-one);
  text-align: center;
  font-size: 2rem;
}

.side-menu .theme-content__wrapper {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-menu .theme-content__wrapper::-webkit-scrollbar {
  width: 0.8rem;
}

.side-menu .theme-content__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--theme-one);
}

.side-menu .theme-content .theme-rect {
  position: relative;
  height: 3rem;
  border: 0.4rem solid var(--theme-one);
  margin: 0 1rem;
}

.side-menu .theme-content .theme-rect:not(:last-child) {
  margin-bottom: 1rem;
}

.side-menu .theme-content .theme-rect:hover {
  cursor: pointer;
}

.side-menu .theme-content .theme-rect .check-indicator {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2rem;
  height: 2rem;
  background-color: var(--theme-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: var(--theme-four);
}
/*# sourceMappingURL=main.css.map */